<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.log">

    <variable name="LOG_DIR" value="./logs" />

    <targets async="true">
        <target name="Console" xsi:type="Console"
                layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception}" />

        <target name="File" xsi:type="File"
                fileName="${LOG_DIR}/all.log"
                archiveFileName="${LOG_DIR}/all.{#}.log"
                archiveEvery="Day"
                archiveNumbering="DateAndSequence"
                archiveDateFormat="yyyyMMdd"
                keepFileOpen="false"
                concurrentWrites="true"
                layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception}" />

        <target name="SQLConsole" xsi:type="Console"
                layout="${longdate}|${message} ${exception}" />

        <target name="SQLFile" xsi:type="File"
                fileName="${LOG_DIR}/sql.log"
                archiveFileName="${LOG_DIR}/sql.{#}.log"
                archiveEvery="Day"
                archiveNumbering="DateAndSequence"
                archiveDateFormat="yyyyMMdd"
                keepFileOpen="false"
                concurrentWrites="true"
                layout="${longdate}|${message} ${exception}" />

        <target name="SldhFile" xsi:type="File"
                fileName="${LOG_DIR}/sldh.log"
                archiveFileName="${LOG_DIR}/sldh.{#}.log"
                archiveEvery="Day"
                archiveNumbering="DateAndSequence"
                archiveDateFormat="yyyyMMdd"
                keepFileOpen="false"
                concurrentWrites="true"
                layout="${longdate}|${message} ${exception}" />

        <target name="SsjlFile" xsi:type="File"
                fileName="${LOG_DIR}/ssjl.log"
                archiveFileName="${LOG_DIR}/ssjl.{#}.log"
                archiveEvery="Day"
                archiveNumbering="DateAndSequence"
                archiveDateFormat="yyyyMMdd"
                keepFileOpen="false"
                concurrentWrites="true"
                layout="${longdate}|${message} ${exception}" />

        <target name="SinglePkFile" xsi:type="File"
                fileName="${LOG_DIR}/singlePk.log"
                archiveFileName="${LOG_DIR}/singlePk.{#}.log"
                archiveEvery="Day"
                archiveNumbering="DateAndSequence"
                archiveDateFormat="yyyyMMdd"
                keepFileOpen="false"
                concurrentWrites="true"
                layout="${longdate}|${message} ${exception}" />

        <target name="SectWarFile" xsi:type="File"
                fileName="${LOG_DIR}/sectwar.log"
                archiveFileName="${LOG_DIR}/sectwar.{#}.log"
                archiveEvery="Day"
                archiveNumbering="DateAndSequence"
                archiveDateFormat="yyyyMMdd"
                keepFileOpen="false"
                concurrentWrites="true"
                layout="${longdate}|${message} ${exception}" />

        <target name="AdminFile" xsi:type="File"
                fileName="${LOG_DIR}/admin.log"
                archiveFileName="${LOG_DIR}/admin.{#}.log"
                archiveEvery="Day"
                archiveNumbering="DateAndSequence"
                archiveDateFormat="yyyyMMdd"
                keepFileOpen="false"
                concurrentWrites="true"
                layout="${longdate}|${message} ${exception}" />
    </targets>

    <rules>
        <logger name="Microsoft.*" maxlevel="Info" final="true" />
        <logger name="Ddxy.GameServer.Data.DbService" minlevel="Error"
                writeTo="SQLConsole,SQLFile" final="true" />
        <logger name="Ddxy.GameServer.Grains.ShuiLuDaHuiGrain" minlevel="Debug"
                writeTo="Console,SldhFile" final="true" />
        <logger name="Ddxy.GameServer.Grains.ShenShouJiangLinGrain" minlevel="Debug"
                writeTo="Console,SsjlFile" final="true" />
        <logger name="Ddxy.GameServer.Grains.SinglePkGrain" minlevel="Debug"
                writeTo="Console,SinglePkFile" final="true" />
        <logger name="Ddxy.GameServer.Grains.SectWarGrain" minlevel="Debug"
                writeTo="Console,SectWarFile" final="true" />
        <logger name="Ddxy.GameServer.Gate.AdminGateGrain" minlevel="Debug"
                writeTo="Console,AdminFile" final="true" />
        <logger name="*" minlevel="Debug" writeTo="Console,File" />
    </rules>
</nlog>