<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.log">

    <extensions>
        <add assembly="NLog.Web.AspNetCore" />
    </extensions>

    <variable name="LOG_DIR" value="./logs" />

    <targets async="true">
        <target name="Console" xsi:type="Console"
                layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception}" />

        <target name="File" xsi:type="File"
                fileName="${LOG_DIR}/all.log"
                archiveFileName="${LOG_DIR}/all.{#}.log"
                archiveEvery="Day"
                archiveNumbering="DateAndSequence"
                archiveDateFormat="yyyyMMdd"
                keepFileOpen="false"
                concurrentWrites="true"
                layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception}" />

        <target name="SQLConsole" xsi:type="Console"
                layout="${longdate}|${message} ${exception}" />

        <target name="SQLFile" xsi:type="File"
                fileName="${LOG_DIR}/sql.log"
                archiveFileName="${LOG_DIR}/sql.{#}.log"
                archiveEvery="Day"
                archiveNumbering="DateAndSequence"
                archiveDateFormat="yyyyMMdd"
                keepFileOpen="false"
                concurrentWrites="true"
                layout="${longdate}|${message} ${exception}" />
    </targets>

    <rules>
        <logger name="Microsoft.*" maxlevel="Info" final="true" />
        <logger name="Ddxy.Grains.Data.DbService" minlevel="Error"
                writeTo="SQLConsole,SQLFile" final="true" />
        <logger name="*" minlevel="Debug" writeTo="Console,File" />
    </rules>
</nlog>